/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

  font-size: 18px;
  font-family: var(--font-family);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title-decor {
  font-size: inherit;
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}
